/*전체 조정*/
.row{
    width:70%;
    margin:0 auto;
    margin-top:10%;
}

/* 왼쪽 사이드 바 */
.border-top.border-secondary{
    position: fixed; /* 화면에 고정 */
    left: 0; /* 왼쪽에 위치 */
    top: 25%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    width:10%;
    text-align: center;
}

/* 왼쪽 사이드바 헤더 */
#sidebar{
    background-color:#20c997 !important;
    border:1px solid gainsboro;
}

/* 헤더 제목 */
.border-bottom.pb-2{
    font-weight:bold;
}

/* 댓글 작성란 */
#content{
    margin-top:1em;
}

/* 저장하기 */
.btn.btn-primary{
    margin-top:1em;
    float:right;
    background-color: #38B2A5;
    border:none;
}


/* ----- profile_edit ----- */
/* 폼 + select */
.form-control{
    margin-top:0.5em;
}