/* 프로필 베이스 중앙정렬*/
.center_pro_base {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* 전체 높이를 기준으로 중앙 정렬 */
    box-sizing: border-box;
    width: 710px;
    margin : 0 0 0 300px;
    border : 10px;
}

/* 프로필 베이스 안에 글씨들*/
.text_card{
    text-align: center; /* 텍스트를 가로 중앙 정렬 */
    padding : 10px;
}

/*프로필 정렬에 사용*/
.line {
    width: 200px;
    height : 500px;
    min-height: 50vh; /* 전체 높이를 기준으로 중앙 정렬 */
    margin : 0 0 0 200px;
}

.login_page {

    width: 100%; /* 상자의 너비 */
    padding: 10px; /* 내부 여백 */
    border-radius: 15px; /* 모서리를 둥글게 */
    background-color: white; /* 상자 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    margin: 0 atuo ; /* 상자를 가운데 정렬 */
    border: 2px solid #20c997; /* 테두리 색 */
  }

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none; /* 기본 화살표 제거 */
}

select:focus {
    border-color: #20c997; /* 포커스 시 테두리 색상 */
    outline: none;
    background-color: #fff;
}

/* 프로필 정보 - 기본 정보 + 게시 + 답변 + 댓글 + 추천 */
.nav-item>a{
   color:#20c997;
}

