/* 전체 div 중앙정렬 */
.row{
    margin-top:2%;
    margin-left:3%;
    width:100%;
}

/* 왼쪽 사이드 바 */
.border-top.border-secondary{
    position: fixed; /* 화면에 고정 */
    left: 0; /* 왼쪽에 위치 */
    top: 25%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    width:10%;
    text-align: center;
}

/* 왼쪽 사이드바 헤더 */
.rounded-0.list-group-item.list-group-item-action.list-group-item-light.active{
    background-color:#20c997;
    border:1px solid gainsboro;
}

/* 검색 + 찾기 */
.col-4.input-group{
    margin-top:4em;
    width:100%;
}

/* 검색바 */
#search_kw{
    height:50px;
    background-color: white;
    border: 2px solid #20c997; /* 테두리 색 */
    border-radius: 50px 0 0 50px; /* 왼쪽 모서리 둥글게 */
    outline: none; /* 포커스 시 기본 외곽선 제거 */
    border-right-color:gainsboro;
}

/* 찾기 */
#btn_search{
    height:50px;
    background-color: white;
    border: 2px solid #20c997; /* 테두리 색 */
    border-radius: 0 50px 50px 0; /* 왼쪽 모서리 둥글게 */
    outline: none; /* 포커스 시 기본 외곽선 제거 */
    border-left:none;
}

#btn_search:hover{
    color:#20c997;
}

/* h4 */
.border-bottom.pb-2.my-3{
padding-top:2em;
font-weight: bold;
}


/* 실시간 인기 회사 */
.card{
    margin-left:3em;
    margin-top:40%;
    width:65%
}

/* 헤더 */
.card-header{
    background-color: #20c997;
    text-align: center;
    color:white;
}

/* 실시간 인기 회사 숫자(순위) */
.list-group-item{
    color:grey;
}

/* 실시간 인기 회사 li */
.list-group-item{
    border:none;
    background-color:#f2fffd;
}

/* 질문 등록하기 버튼 스타일 */
.btn.btn-primary {
    font-size: 14px; /* 폰트 크기 */
    background-color: #38B2A5; /* 배경색 */
    height: 38px; /* 버튼 높이 설정 */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    padding: 0 15px; /* 좌우 패딩 추가 */
    margin-left: 10px; /* 드롭다운과 버튼 사이 여백 추가 */
    border:1px solid gainsboro;
}

/* 최신순 */
.col-auto{
    margin-left:-2.5em;
}

/* 최신순 + 질문등록하기 부모 요소 Flexbox 설정 */
.row.align-items-center.justify-content-between.my-3 {
    display: flex;
    justify-content: space-between; /* 양쪽 끝 정렬 */
    align-items: center; /* y축 중앙 정렬 */
    margin-top:2em;
}


/* 최신순 드롭다운 스타일 */
.select.so {
    max-width: 150px; /* 드롭다운 최대 너비 설정 */
    height: 38px; /* 버튼과 같은 높이 */
    margin-right: 10px; /* 버튼과 간격 */
}

/* 질문 등록하기 버튼 스타일 */
.btn.btn-primary {
    height:38px; /* 드롭다운과 같은 높이 */
    padding:0 20px; /* 적당한 좌우 패딩 */
    white-space:nowrap; /* 텍스트 줄바꿈 방지 */
}

/* 테이블 헤더 */
.text-center.thead-dark{
    border-bottom:2px solid #38B2A5;
}

/* 테이블 번호 + 추천 */
body > div > div > div.container.my-3 > div > div.col-md-8 > table > thead > tr > th:nth-child(1),
body > div > div > div.container.my-3 > div > div.col-md-8 > table > thead > tr > th:nth-child(2){
    width:3em;
}

/* 테이블 제목 + 글쓴이*/
body > div > div > div.container.my-3 > div > div.col-md-8 > table > tbody > tr> td.text-left > a,
body > div > div > div.container.my-3 > div > div.col-md-8 > table > tbody > tr > td:nth-child(4) > a{
    text-decoration:none;
    color: black;
}

/* 글쓴이 */
body > div > div > div.container.my-3 > div > div.col-md-8 > table > thead > tr > th:nth-child(4){
    width:10em;
}

/* 작성일자 폰트 */
body > div > div > div > div > div.col-md-8 > table > tbody > tr > td:nth-child(5){
    font-size: 0.9em;
}

/* 제목 */ 
.table .text-left a:hover {
    color: #38B2A5;
}
/* ---------------- home_1 (첫화면) ---------------- */